@font-face {
    font-family: "SoyuzGroteskBold";
    src: url("../fonts/Soyuz Grotesk Bold.woff") format("woff");
    font-weight: bold;
}

body {
    font-family: "SoyuzGroteskBold", sans-serif;
    letter-spacing: 2px;
    font-size: 90px;
    margin: 0;
}

a{
    color: #808080;
    text-decoration: none;
}
a:hover{
    text-decoration: line-through;
}

header{
    height: 100vh;
    font-size: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me{
    height: 100vh;
    margin: 0;
    padding: 0 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.contacts{
    height: 100vh;
    margin: 0;
    padding: 0 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.nav{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.work-container{
    height: calc(50vw);
    width: auto;
    margin: 0;
    padding-bottom: 200px;
    position: relative;
}

.work-container:nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.054);
}

.work-container img{
    height: 65%;
    top: 10%;
    left: 10%;
    position: absolute;
}

.work-container span {
    font-size: 12vw;
    top: 65%;
    right: 8%;
    position: absolute;
}
