body{
  background: #ffffff;
  height: 200px;
}
.bg {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  position: relative;
}
.pbody {
  width: 90px;
  height: 125px;
  background: radial-gradient(#ffffff, #58c0d5);
  border-radius: 50px/70px;
  border-style: solid;
  border-color: #4c90af;
  border-width: 2px;
  position: absolute;
  top:20px;
  left:55px;
}
.rleg {
  width: 3px;
  height: 45px;
  background: #056aa7;
  position: absolute;
  transform: rotate(15deg);
  top:125px;
  left:115px;
}
.r1finger {
  width: 3px;
  height: 15px;
  background: #056aa7;
  position: absolute;
  transform: rotate(5deg);
  top:168px;
  left:109px;
}
.r2finger {
  width: 3px;
  height: 20px;
  background: #056aa7;
  position: absolute;
  transform: rotate(40deg);
  top:165px;
  left:104px;
}
.r3finger {
  width: 3px;
  height: 20px;
  background: #056aa7;
  position: absolute;
  transform: rotate(-40deg);
  top:165px;
  left:115px;
}
.lleg {
  width: 3px;
  height: 45px;
  background: #056aa7;
  position: absolute;
  transform: rotate(15deg);
  top:125px;
  left:85px;
}
.l1finger {
  width: 3px;
  height: 15px;
  background: #056aa7;
  position: absolute;
  transform: rotate(5deg);
  top:168px;
  left:78px;
}
.l2finger {
  width: 3px;
  height: 20px;
  background: #056aa7;
  position: absolute;
  transform: rotate(40deg);
  top:165px;
  left:73px;
}
.l3finger {
  width: 3px;
  height: 20px;
  background: #056aa7;
  position: absolute;
  transform: rotate(-40deg);
  top:165px;
  left:86px;
}
.lwing {
 width: 20px;
  height: 60px;
  background: radial-gradient(circle at 70% 70%, #ffffff, #2ab5d1);
  border-radius: 20px/40px;
  border-style: solid;
  border-color: #97c2e3;
  border-width: 2px;
  position: absolute;
  transform: rotate(20deg);
  top:65px;
  left:45px;
}
.rwing {
  width: 20px;
  height: 60px;
  background: radial-gradient(circle at 30% 70%, #ffffff, #2ab5d1);
  border-radius: 20px/40px;
  border-style: solid;
  border-color: #97c2e3;
  border-width: 2px;
  position: absolute;
  transform: rotate(-20deg);
  top:65px;
  left:135px;
}
.pbody {
  width: 90px;
  height: 125px;
  background: radial-gradient(at 50px 90px, #ffffff, #58c0d5);
  border-radius: 50px/70px;
  border-style: solid;
  border-color: #4c90af;
  border-width: 2px;
  position: absolute;
  top:20px;
  left:55px;
}
.nose {
  width: 0; 
  height: 0;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 16px solid #056aa7;
  top:70px;
  left:95px;
}
.leye {
  width: 10px;
  height: 20px;
  background: #ffffff;
  border-radius: 12px/20px;
  border-style: solid;
  border-color: #4c90af;
  border-width: 2.5px;
  position: absolute;
  top:43px;
  left:79px;
}
.reye {
  width: 10px;
  height: 20px;
  background: #ffffff;
  border-radius: 12px/20px;
  border-style: solid;
  border-color: #4c90af;
  border-width: 2.5px;
  position: absolute;
  top:43px;
  left:109px;
}
.lpupil {
  width: 4px;
  height: 16px;
  background: #4c90af;
  border-radius: 4px/12px;
  border-style: solid;
  border-color: #4c90af;
  border-width: 2px;
  position: absolute;
  top:46px;
  left:81px;
}
.rpupil {
  width: 4px;
  height: 16px;
  background: #4c90af;
  border-radius: 4px/12px;
  border-style: solid;
  border-color: #4c90af;
  border-width: 2px;
  position: absolute;
  top:46px;
  left:110px;
}
.lhair {
  width: 0; 
  height: 0;
  border-bottom: 20px solid #4c90af;
  border-left: 10px solid transparent;
  position: absolute;
  top:8px;
  left:87px;
}
.mhair {
  width: 0; 
  height: 0;
  border-bottom: 20px solid #4c90af;
  border-left: 13px solid transparent;
  position: absolute;
  top:5px;
  left:95px;
}
.rhair {
  width: 0; 
  height: 0;
  border-bottom: 20px solid #4c90af;
  border-left: 10px solid transparent;
  position: absolute;
  top:8px;
  left:106px;
}