body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;/*Всё, что за пределами container не будет видно*/
}

/* Каждой картинке даем  абсолютное позиционирование (в одном месте собираем их) и плавный переход*/
.container div{
    position: absolute;
    transition: 1s ease;
}

/*2 и 3 картинки изначально скрываем*/
.container .ilon-cont-2, .container .ilon-cont-3{
    opacity: 0;
}

/*при наведении первую картинку скрываем*/
.container:hover .ilon-cont-1 {
    opacity: 0;
}

/*при наведении вторую картинку проявляем*/
.container:hover .ilon-cont-2 {
    opacity: 1;
}

/*при нажатиии вторую картинку скрываем*/
.container:active .ilon-cont-2 {
    opacity: 0;
}
/*при нажатиии третью картинку проявляем и перемещаем*/
.container:active .ilon-cont-3 {
    opacity: 1;
    transform: translate(100px, -100px);
    filter: sepia(0.4);
}
/*псевдоэлементы с надписями*/
.container::before{
    content: "Это еще не тесла :)";
    position: absolute;
    top: 16px;
    left: 30px;
    opacity: 0;
}

.container::after{
    content: "Как тебе такое?";
    position: absolute;
    top: 16px;
    left: 30px;
    opacity: 0;
}
/*при клике остаетсся это еще не тесла :)*/
.container:active::before{
    opacity: 1;
}
/*при наведении остается Как тебе такое?*/
.container:hover::after{
    opacity: 1;
}
/*при клике скрываем Как тебе такое?*/
.container:active::after{
    opacity: 0;
}